[Unit]
Description= tbm-drm-auth setup service

[Service]
Type=oneshot
ExecStart=/usr/bin/chmod g+w /run/tbm-drm-auth
ExecStart=/usr/bin/chgrp display /run/tbm-drm-auth
ExecStart=/usr/bin/chsmack -a User /run/tbm-drm-auth

[Install]
WantedBy=graphical.target
