[Unit]
Description= tbm-drm setup service

[Service]
Type=oneshot
ExecStart=/usr/bin/chmod g+w /run/tbm-drm
ExecStart=/usr/bin/chgrp display /run/tbm-drm
ExecStart=/usr/bin/chsmack -a User /run/tbm-drm

[Install]
WantedBy=graphical.target
